
.home-section {
    /* border: 1px solid #000000; */
    
    min-height: 50vh;
    /* margin-bottom: 22vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    align-items: center;
    font-weight: 800 !important;
    font-size: xx-large;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}



.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#a-links{
    color: #ffffff !important;
    text-decoration: none;
    font-size: 50px !important;
}

#p-words{
    font-weight: 300 !important;
    font-size: 25px;
}

.default {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}



.layer2 {
    background-image: url('../assets/backgrounds/layer2.svg');
}

.flip {
    transform: rotate(180deg);
}

.pastel-white {
    background-color: #dbd7d2;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    /* color: #000000; */
    justify-content: center;
    padding-top: 4vh;
    row-gap: 3vh;
    font-size: 40px;
    font-weight: 800 !important;
}

.blob-motion {
    position: absolute;
    transform: translateY();
    transform: translate(0%, -15%);
    z-index: -1;
}

#p-font {
    /* padding-top: 3vh; */
    font-weight: 400 !important;
    font-size: 30px;
    color: #000000;
}

.header-grey{
    background-color: #778899;
    padding: 0;
    margin: 0;
}

.bubble::after{
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 0;
    height: 85%;
    width: 100%;
    background-color: #2C3539;
    z-index: -1;
    
}

/* Most likely not need anymore  */
.item1 {
    
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;
    /* border: 2px solid white; */
    display: grid;
    align-items:center;
    text-align: center;
    color: #ffffff;
}


.item2 {
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;



    display: grid;
    align-items:center;
    text-align: center;
    
}

.item3 {
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;
    margin-bottom: 3vh;

    display: grid;
    align-items:center;
    text-align: center;

}