section {
    /* border: 1px solid #000000; */
    
    color: #ffffff;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    place-items: center;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 22vh;
  }

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}



.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.item1 {
    
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;

    color: #000000;
    /* border: 2px solid white; */
    display: grid;
    align-items:center;
    text-align: center;

    /* background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */

    /* background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
    
    /* background-color: #2d3436;
    background-image: linear-gradient(90deg, rgba(45,52,54,1) 0%, rgba(211,211,211,1) 52%, rgba(45,52,54,1) 100%); */

    background: rgb(240,170,96);
    background: radial-gradient(circle, rgba(240,170,96,1) 0%, rgba(219,215,210,1) 80%, rgba(219,215,210,1) 84%); 

    font-weight: 800 !important;
    font-size: xx-large;
    color: #ffffff;

    
}

.item1:hover {
    background: rgb(219,215,210);
    background: radial-gradient(circle, rgba(219,215,210,1) 0%, rgba(223,207,190,1) 30%, rgba(240,170,96,1) 84%); 
    color: #000000;
}

.item2 {
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;

    color: #000000;

    display: grid;
    align-items:center;
    text-align: center;

    /* background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */
}

.item3 {
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;
    margin-bottom: 3vh;

    color: #000000;
    display: grid;
    align-items:center;
    text-align: center;

    /* background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */
}