:root {
    --typewriterCharacters: 40;
    --typewriterSpeed: 5s;
}

.home-body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    cursor: default;

}

.heading {
    display: flex;
    /* grid-template-columns: 0.59fr 0.68fr 0.59fr; */
    align-items: center;
    justify-content: center;
    background-color: #778899;
}

#welcome {
    font-family: 'Roboto Mono', monospace;
    margin-left: 50px;
    color: #f5f5f5;
}

.home-h1 {
    position: relative;
    width: max-content;
}

.home-h1::before,
.home-h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0;
}

.home-h1::before {
    background: #778899;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.home-h1::after {
    width: .125em;
    background: black;
    animation: 
    typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 1000ms steps(var(--typewriterCharacters)) infinite;

}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#scroller{
    display: grid;
    /* grid-row: 2vh 2vh; */
    text-align: center;
    place-items: center;
    align-items: center;
    /* color: #000000; */
    color: #ffffff;
    /* font-weight: 700; */
    min-height: 50vh;
    /* border: 1px solid #000000; */
    margin-top: 10vh;
    margin-bottom: 33vh;
}
#home-text {
    font-size: 30px;
    opacity: 0;
    transform: translateX(-3rem);
    animation: fadeInSide 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}
#scroll-text {
    font-size: 30px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
#scroll-pic {
    aspect-ratio: 48/48;
    height: 48px;
    width: 48px;
    background-image: url('./icons/arrow_downward.svg');
    color: #ffffff;

    opacity: 0;
    transform: translateY(-12rem);
    animation: 
    fadeInDown 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
}

@keyframes fadeInSide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.layer1 {
    background-image: url('../assets/backgrounds/layer1.svg');
}

.section-background-grey {
    margin: 0;
    padding: 0;
    background: #131316;
    row-gap: 5vh;
}
/* #2C3539 */
.footing {
    background-color: #778899;
    display: grid;
    height: auto;
    color: #f5f5f5;
    /* border-top: 1px solid #000000; */
  }