:root {
    --typewriterCharacters: 43;
    --typewriterSpeed: 6s;
}

.home-body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    cursor: default;

    /* background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%); */

    /* background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */

    background-color: #dbd7d2;
}

.heading {
    display: grid;
    grid-template-columns: 0.59fr 0.5fr 0.59fr;
    align-items: center;
    background-color: #778899;
}

#welcome {
    font-family: 'Roboto Mono', monospace;
    grid-column: 1;
    margin-left: 40px;
    color: #f5f5f5;
}

h1 {
    position: relative;
    width: max-content;
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0;
}

h1::before {
    background: #778899;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
    width: .125em;
    background: black;
    animation: 
    typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 1000ms steps(43) infinite;

}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#scroller{
    display: grid;
    /* grid-row: 2vh 2vh; */
    text-align: center;
    place-items: center;
    align-items: center;
    color: #000000;
    /* font-weight: 700; */
    min-height: 50vh;
    /* border: 1px solid #000000; */
    margin-top: 10vh;
    margin-bottom: 30vh;
}
#home-text {
    font-size: 30px;
    opacity: 0;
    transform: translateX(-3rem);
    animation: fadeInSide 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
#scroll-text {
    font-size: 30px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 4s) forwards;
}
#scroll-pic {
    height: 48px;
    width: 48px;
    background-image: url('arrow_downward.png');
    color: #ffffff;

    opacity: 0;
    transform: translateY(-12rem);
    animation: 
    fadeInDown 2s ease calc(var(--typewriterSpeed) + 5s) forwards;
}

@keyframes fadeInSide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footing {
    background-color: #778899;
    display: grid;
    height: auto;
    color: #f5f5f5;
    /* border-top: 1px solid #000000; */
  }