
.home-section {
    /* border: 1px solid #000000; */  
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800 !important;
    font-size: xx-large;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

@media (prefers-reduced-motion) {
    .hidden {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        /* opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s; */
    }
    
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#space {
    height: 25vh;
}

#a-links{
    color: #ffffff !important;
    text-decoration: none;
    font-size: 50px !important;
}

#p-words{
    font-weight: 300 !important;
    font-size: 25px;
    text-align:justify;
}

.default {
    opacity: 1;
    filter: blur(0);
}


.blob-motion {
    position: absolute;
    transform: translateY();
    transform: translate(0%, -15%);
    z-index: -1;
}

#p-font {
    font-weight: 400 !important;
    font-size: 30px;
    color: #000000;
}

.header-grey{
    background-color: #778899;
    padding: 0;
    margin: 0;
}

.bubble::after{
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 0;
    height: 85%;
    width: 100%;
    background-color: #131316;
    z-index: -1;
    
}

/* THEY HAVE USE AGAIN  */
 /* -------------------------- WHO AM I -------------------------- */
.item1 {
    
    display: grid;
    /* place-items: center; */
    /* align-items:center; */
    text-align: center;
    color: #ffffff;
    grid-template-columns: 0.5fr 1fr;
    row-gap: 0.5rem;
    
}

#item-title {
    /* border: 1px solid darkblue; */
    grid-column: 1;
    grid-row: 1;
    color: #ffffff !important;
    /* text-decoration: underline; */
    font-size: 50px !important;
}

#item1-desc {
    /* border: 1px solid bisque; */
    /* grid-row: ; */
    grid-column: 2;
    font-weight: 300 !important;
    font-size: 20px;
    float: left;
    text-align: start;
    padding-right: 10rem;
    /* width: 55vw; */
}

 /* --------------------------- SKILLS --------------------------- */
.item2 {
    /* background-color: #778899; */
    border-radius: 0.8rem;
    display: grid;
    place-items: center;
    align-items:center;
    text-align: center;
    color: #ffffff;
    row-gap: 3rem;
    padding: 1.2rem;
    
}

#item-desc-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid rebeccapurple; */
    column-gap: 4.5vw;
}

#item2-desc {
    /* border: 1px solid bisque; */
    font-weight: 300 !important;
    font-size: 20px;
    margin-top: -1.5rem;

}

#list1 {
    grid-column: 1;
    font-weight: 400 !important;
    /* text-decoration: underline; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
}

#list2 {
    grid-column: 2;
    font-weight: 400 !important;
    /* padding: 15px 28px; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;

}

#list3 {
    grid-column: 3;
    font-weight: 400 !important;
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    
}
#listTitle{
    /* text-decoration: underline; */
    /* border: 1px solid red; */
    border-bottom: 1px solid snow;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}
#listItems {
    text-decoration: none;
    padding: 0;
    margin: 0.5rem;
    /* text-align: start; */
    list-style: none;
    font-weight: 200 !important;
    font-size: 25px;
}

 /* -------------------------- PROJECTS -------------------------- */


.item3 {
    width: 50vw;
    height: 50vh;
    border-radius: 0.8rem;
    margin-bottom: 3vh;

    display: grid;
    align-items:center;
    text-align: center;

}

 /* -------------------------- CONTACTS -------------------------- */
#contact-list{
    list-style-type: none;
    padding: 0;
}

#contact-items{
    float: left;
}

#mail {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('./icons/envelope-regular.svg');
    background-repeat: no-repeat;
    padding-right: 2vw;
}

#github {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('./icons/github.svg');
    background-repeat: no-repeat;
    padding-right: 2vw;
}

#linkedIn {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('./icons/linkedin.svg');
    background-repeat: no-repeat;
    padding-right: 2vw;
}

#leetcode {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('./icons/leetcode.svg');
    background-repeat: no-repeat;
}