@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

/*------------------------------NAVBAR ICONS -------------------------------*/
.icon {
    cursor: pointer;

}

.icon-home {
    background-image: url('./icons/home-outline.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-aboutme {
    background: url('./icons/person-outline.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 20px;
    width: 30px; */
}

.icon-projects {
    background: url('./icons/folder-open-outline.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 20px;
    width: 30px; */
}

.icon-contact {
    background: url('./icons/mail-outline.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 20px;
    width: 30px; */
}

.navbar {
    grid-column: 3;
    /* margin-left:77vw; */
    display: grid;
    width: 75%;
    height: auto;
    background-color: #2C3539;
    border-radius: 1.2rem;
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
    margin-left: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    /* box-sizing: border-box; */
    outline: none;
} 

li a {
    float: left;
    display: grid;

    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;

    padding: 14px 16px;
}

a {
    color: #222327;
    text-decoration: none;
}

li a:hover {
    color: #131316;
    background-color: #dbd7d2;
    /* background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */
}

li a:active {
    color: #131316;
    background-color: #ffffff;
}