
.home-section {
    /* border: 1px solid #000000; */  
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800 !important;
    font-size: xx-large;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

@media (prefers-reduced-motion) {
    .hidden {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        /* opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s; */
    }
    
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#space {
    height: 25vh;
}

#a-links{
    color: #ffffff !important;
    text-decoration: none;
    font-size: 50px !important;
}

#p-words{
    font-weight: 300 !important;
    font-size: 25px;
    text-align:justify;
}

.default {
    opacity: 1;
    filter: blur(0);
}


.blob-motion {
    position: absolute;
    transform: translateY();
    transform: translate(0%, -15%);
    z-index: -1;
}

#p-font {
    font-weight: 400 !important;
    font-size: 30px;
    color: #000000;
}

.header-grey{
    background-color: #778899;
    padding: 0;
    margin: 0;
}

.bubble::after{
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 0;
    height: 85%;
    width: 100%;
    background-color: #131316;
    z-index: -1;
    
}

/* THEY HAVE USE AGAIN  */
 /* -------------------------- WHO AM I -------------------------- */
.item1 {
    
    display: grid;
    /* place-items: center; */
    /* align-items:center; */
    text-align: center;
    color: #ffffff;
    grid-template-columns: 0.5fr 1fr;
    row-gap: 0.5rem;
    
}
#item-title-pic {
    display: grid;
}
#item-title {
    /* border: 1px solid darkblue; */
    grid-column: 1;
    grid-row: 1;
    color: #ffffff !important;
    /* text-decoration: underline; */
    font-size: 50px !important;
}

#me {
    grid-row: 2;
}
#item1-desc {
    /* border: 1px solid bisque; */
    /* grid-row: ; */
    grid-column: 2;
    font-weight: 300 !important;
    font-size: 20px;
    float: left;
    text-align: start;
    padding-right: 10rem;
    /* width: 55vw; */
}

 /* --------------------------- SKILLS --------------------------- */
.item2 {
    /* background-color: #778899; */
    border-radius: 0.8rem;
    display: grid;
    place-items: center;
    align-items:center;
    text-align: center;
    color: #ffffff;
    row-gap: 3rem;
    padding: 1.2rem;
    
}

#item-desc-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid rebeccapurple; */
    column-gap: 4.5vw;
}

#item2-desc {
    /* border: 1px solid bisque; */
    font-weight: 300 !important;
    font-size: 20px;
    margin-top: -1.5rem;

}

.list1-h {
    grid-column: 1;
    font-weight: 400 !important;
    /* text-decoration: underline; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    /* transform: translateY(6rem); */
    transform: translate(5rem, 6.5rem);
    opacity: 0;
    transition: all 3s;
}

.list1-s {
    grid-column: 1;
    font-weight: 400 !important;
    /* text-decoration: underline; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    /* transform: translate(1rem, 3rem); */
    transform: translateY(3rem);
    opacity: 1;
}

.list2-h {
    grid-column: 2;
    font-weight: 400 !important;
    /* padding: 15px 28px; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translateY(7rem);
    opacity: 0;
    transition: all 3s;
}

.list2-s {
    grid-column: 2;
    font-weight: 400 !important;
    /* padding: 15px 28px; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translateY(0);
    opacity: 1;
}

.list3-h {
    grid-column: 3;
    font-weight: 400 !important;
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translate(-5rem, 8.5rem);
    /* transform: translateY(8rem); */
    opacity: 0;
    transition: all 3s;
}

.list3-s {
    grid-column: 3;
    font-weight: 400 !important;
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translateY(2.8rem);
    opacity: 1;
}


#listTitle{
    /* text-decoration: underline; */
    /* border: 1px solid red; */
    border-bottom: 1px solid snow;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}
#listItems {
    text-decoration: none;
    padding: 0;
    margin: 0.5rem;
    /* text-align: start; */
    list-style: none;
    font-weight: 200 !important;
    font-size: 25px;
}

/* -------------------------- PROJECTS -------------------------- */

#popUpContainer {
    grid-column: 1 /span 2;
    grid-row: 1 /span 4;
    z-index: 4;
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.2fr 5fr 1fr;

    justify-content: center;
    align-items: center;
    
    background-color: rgb(255, 255, 255, 0.1);
}

.hidePopUpArea {
    display: none;
    visibility: hidden;
}

#popUpExitSpace {
    grid-column: 1 /span 3;
    grid-row: 1 /span 3;
    height: 100%;
    z-index: 4;
    display: grid;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#popUpDisplayContainer {
    grid-column: 2;
    grid-row: 2;
    z-index: 5;
    display: grid;
    height: 80vh;
    width: 70vw;
    grid-template-columns: 1fr;
    grid-template-rows: 4.1vh 15fr;
}

#popUpTitleBarContainer {
    grid-row: 1;
    
    border: 0;
    background-color: #131316;
    border-bottom: 1px solid white;

    display: grid;
    height: 4vh;
    width: 98%;
    padding-left: 2%;
    /* padding-right: 1%; */
    grid-template-columns: 45fr 1fr;
    align-items: center;
}

#popUpCloseButton {
    grid-column: 2;
    height: 2.5vh;
    width: 1.2vw;

    /* border: 2px solid white; */
    border-radius: 25%;
    outline: none;
    
    text-align: center;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    margin-right: 0.4vw;
    background-color: transparent;
}

#closeSVG {
    grid-column: 2;
    outline: none;
    border: 0;
    fill: #fff;
    color: #fff;
    stroke: #fff; 
    margin-right: 0.4vw;
    cursor: pointer;
}

#popUpDisplayComponentContainer {
    grid-row: 2;
    background-color: #131316;
}

.item3 {
    /* width: 95vw; */
    width: 100%;
    height: 160vh;
    margin-bottom: 3vh;
    z-index: 1;
    
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.projectContainer {
    grid-column: 1;
    grid-row: 2;
    width: 95vw;
    height: 80vh;
    
    display: grid;
    grid-template-rows: 1fr 0.3fr 5fr;
    align-items:center;
    text-align: center;
    
    border-radius: 0.4rem;
    border: 1px solid white;

    margin-left: 2.5vw;
}

#messageToHover {

    grid-row: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;

    padding-top: 1vh;
    font-size: 25px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid white;

}


.projectCardContainer {
    grid-row: 3;
    /* position: absolute; */
    height: 100%;
    /* width: 100%; */
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 3vw;
}

.card {
    display: flex;
    height: 80%;
    margin-top: 1%;
    width: 20vw;
    background-color: #131316;
    border-radius: 10px;
    box-shadow: -1rem 0 2rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.card:not(:first-child) {
    margin-left: -3vw;
    /* box-shadow: -5rem 0 5rem #000; */
}
  
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    border: 1px solid white;
}

.card:hover ~ .card {
    position: relative;
    left: 65px;
    transition: 0.4s ease-out;
    
}
  
.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 10px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 102px;
    left: 10px;
    height: 5px;
    width: 93%;
}

.emptyBar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledBar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledBar {
    width: 100%;
    transition: 0.4s ease-out;
}

.cardDescription {
    position: absolute;
    top: 23%;
    font-weight: 300 !important;
    font-size: 25px;
    padding-left: 0.5vw;
}

.clickMore {
    position: absolute;
    top: 80%;
    left: 5vw;
    opacity: 0;
    background-color: transparent;

    color: #fff;
    font-size: 20px;
    font-weight: 300 !important;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card:hover .clickMore {
    /* opacity: 1; */
    animation:
    fadeIn 5000ms ease-in-out 4s forwards;
}

.circle {
    position: absolute;
    top: 40%;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}
/* I like this color #17141d */
svg {
    fill: #131316;
    stroke-width: 2px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

 /* -------------------------- CONTACTS -------------------------- */
#contact-list{
    list-style-type: none;
    padding: 0;
    /* border: 1px solid navajowhite; */
}

#mail {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/envelope-regular.svg');
    background-repeat: no-repeat;
    margin-right: 2vw;
}

#github {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/github.svg');
    background-repeat: no-repeat;
    margin-right: 2vw;
}

#linkedIn {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/linkedin.svg');
    background-repeat: no-repeat;
    margin-right: 2vw;
}

#leetcode {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/leetcode.svg');
    background-repeat: no-repeat;
}