#popUpDisplayContainer {
    height: auto !important;
    max-height: 80vh;
}


#ProjectDetailsContainer {
    display: grid;
    /* grid-template-rows: auto auto auto; */
    row-gap: 1vh;
    padding: 1.5vw;
    max-height: 100vh;
    overflow-y: scroll;
}

#ProjectDetailsVideoContainer {
    display: grid;
    /* grid-template-rows: auto auto auto auto; */
    row-gap: 1vh;
    padding: 1.5vw;
    max-height: 100vh;
    overflow-y: scroll;
}

.projectTitle {
    text-align: center;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0;
}

.projectDescription {
    text-align: left;
    font-weight: 300 !important;
    font-size: 1.8rem;
    /* padding: 0; */
    margin: 1vh;
}

#gitLink {
    color: #551a8b;
    text-decoration: none;
}