
.home-section {
    /* border: 1px solid #000000; */  
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800 !important;
    font-size: xx-large;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

@media (prefers-reduced-motion) {
    .hidden {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        /* opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s; */
    }
    
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#space {
    height: 25vh;
}

@media screen and (max-width: 400px) {
    #space {
        height: 13vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    #space {
        height: 15vh;
    }
}

#a-links{
    color: #ffffff !important;
    text-decoration: none;
    font-size: 50px !important;
}

#p-words{
    font-weight: 300 !important;
    font-size: 25px;
    text-align:justify;
}

.default {
    opacity: 1;
    filter: blur(0);
}


.blob-motion {
    position: absolute;
    transform: translateY();
    transform: translate(0%, -15%);
    z-index: -1;
}

#p-font {
    font-weight: 400 !important;
    font-size: 30px;
    color: #000000;
}

.header-grey{
    background-color: #778899;
    padding: 0;
    margin: 0;
}

.bubble::after{
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 0;
    height: 85%;
    width: 100%;
    background-color: #131316;
    z-index: -1;
    
}

/* THEY HAVE USE AGAIN  */
 /* -------------------------- WHO AM I -------------------------- */
.item1 {
    
    display: grid;
    /* place-items: center; */
    /* align-items:center; */
    text-align: center;
    color: #ffffff;
    grid-template-columns: 0.5fr 1fr;
    row-gap: 0.5rem;
    
}
#item-title-pic {
    height: auto;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    /* place-items: center; */
    justify-content: center;
}
#item-title {
    /* border: 1px solid darkblue; */
    grid-column: 1;
    grid-row: 1;
    color: #ffffff !important;
    /* text-decoration: underline; */
    font-size: 50px !important;
}

#me {
    grid-row: 2;
}
#item1-desc {
    /* border: 1px solid bisque; */
    /* grid-row: ; */
    grid-column: 2;
    font-weight: 300 !important;
    font-size: 20px;
    float: left;
    text-align: start;
    /* padding-right: 10rem; */
    /* width: 55vw; */
}
@media screen and (max-width: 400px) {
    .item1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    #item1-desc {
        grid-row: 2;
        text-align: center;
        padding-right: 0;
        float: none;
        font-size: 1rem;
    }
}

@media screen and (min-width: 401px)  and (max-width: 500px){
    .item1 {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1.2fr;
    }
    #item-title-pic {
        height: 20vh;
    }
    #item1-desc {
        grid-row: 2;
        text-align: center;
        padding-right: 0;
        float: none;
        font-size: 1.1rem;
        width: 80%;
        padding-left: 10%;
    }
}
 /* --------------------------- SKILLS --------------------------- */
.item2 {
    /* background-color: #778899; */
    border-radius: 0.8rem;
    display: grid;
    place-items: center;
    align-items:center;
    text-align: center;
    color: #ffffff;
    row-gap: 3rem;
    padding: 1.2rem;
    
}

#item-desc-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid rebeccapurple; */
    column-gap: 4.5vw;
}

#item2-desc {
    /* border: 1px solid bisque; */
    font-weight: 300 !important;
    font-size: 1.25rem;
    margin-top: -1.5rem;

}

.list1-h {
    grid-column: 1;
    font-weight: 400 !important;
    /* text-decoration: underline; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    /* transform: translateY(6rem); */
    transform: translate(5rem, 6.5rem);
    opacity: 0;
    transition: all 3s;
}

.list1-s {
    grid-column: 1;
    font-weight: 400 !important;
    /* text-decoration: underline; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    /* transform: translate(1rem, 3rem); */
    transform: translateY(3rem);
    opacity: 1;
}

.list2-h {
    grid-column: 2;
    font-weight: 400 !important;
    /* padding: 15px 28px; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translateY(7rem);
    opacity: 0;
    transition: all 3s;
}

.list2-s {
    grid-column: 2;
    font-weight: 400 !important;
    /* padding: 15px 28px; */
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translateY(0);
    opacity: 1;
}

.list3-h {
    grid-column: 3;
    font-weight: 400 !important;
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translate(-5rem, 8.5rem);
    /* transform: translateY(8rem); */
    opacity: 0;
    transition: all 3s;
}

.list3-s {
    grid-column: 3;
    font-weight: 400 !important;
    border: 2px solid snow;
    border-radius: 0.8rem;
    height: fit-content;
    width: fit-content;
    transform: translateY(2.8rem);
    opacity: 1;
}

#listTitle{
    /* text-decoration: underline; */
    /* border: 1px solid red; */
    border-bottom: 1px solid snow;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}

#listItems {
    text-decoration: none;
    padding: 0;
    margin: 0.5rem;
    /* text-align: start; */
    list-style: none;
    font-weight: 200 !important;
    font-size: 25px;
}

@media screen and (max-width: 400px) {

    .item2 {
        padding-top: 8vh;
    }

    #item2-desc {
        font-size: 1rem;
        width: 100vw;
    }

    .list1-s {
        transform: translate(0.5rem, 1rem);
    }

    .list3-s {
        transform: translate(-0.5rem, 1rem);
    }

    #listTitle {
        font-size: 0.9rem;
    }

    #listItems {
        font-size: 0.7rem
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {

    .item2 {
        padding-top: 8vh;
    }

    #item2-desc {
        font-size: 1rem;
        width: 100vw;
    }

    .list1-s {
        transform: translate(0.5rem, 1rem);
    }

    .list3-s {
        transform: translate(-0.2rem, 1rem);
    }

    #listTitle {
        font-size: 0.95rem;
    }

    #listItems {
        font-size: 0.8rem
    }
}

/* -------------------------- PROJECTS -------------------------- */

#popUpContainer {
    grid-column: 1 /span 2;
    grid-row: 1 /span 2;
    z-index: 4;
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0, 0.5);
}

.hidePopUpArea {
    display: none;
    visibility: hidden;
}

#popUpExitSpace {
    grid-column: 1 /span 3;
    grid-row: 1 /span 3;
    height: 100%;
    z-index: 4;
    display: grid;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#popUpDisplayContainer {
    grid-column: 2;
    grid-row: 2;
    z-index: 5;
    display: grid;
    height: 80vh;
    /* width: 70vw; */
    grid-template-columns: 1fr;
    grid-template-rows: 4vh 15fr;
}

#popUpTitleBarContainer {
    grid-row: 1;
    
    border: 0;
    background-color: #131316;
    /* border-bottom: 1px solid white; */

    display: grid;
    height: 4vh;
    width: 98%;
    padding-left: 2%;
    /* padding-right: 1%; */
    grid-template-columns: 45fr 1fr;
    align-items: center;
}

#popUpCloseButton {
    grid-column: 2;
    height: 2.5vh;
    width: 1.2vw;

    /* border: 2px solid white; */
    border-radius: 25%;
    outline: none;
    
    text-align: center;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    margin-right: 0.4vw;
    background-color: transparent;
}

#closeSVG {
    grid-column: 2;
    outline: none;
    border: 0;
    fill: #fff;
    color: #fff;
    stroke: #fff; 
    margin-right: 0.4vw;
    cursor: pointer;
}

#popUpDisplayComponentContainer {
    grid-row: 2;
    background-color: #131316;
}

.item3 {
    /* width: 95vw; */
    width: 100%;
    height: 120vh;
    /* margin-bottom: 3vh; */
    z-index: 1;
    
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.projectContainer {
    grid-column: 1;
    grid-row: 1;
    width: 95vw;
    height: 80vh;
    
    display: grid;
    grid-template-rows: 1fr 0.3fr 5fr;
    align-items:center;
    text-align: center;
    
    border-radius: 0.4rem;
    /* border: 1px solid white; */

    margin-left: 2.5vw;
}

#messageToHover {

    grid-row: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;

    padding-top: 1vh;
    font-size: 1.56rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    /* border-top: 1px solid white; */

}


.projectCardContainer {
    grid-row: 3;
    /* position: absolute; */
    height: 100%;
    /* width: 100%; */
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 3vw;
}

/* colours I like : #222831, #2B2B2B, #2e3033 */

.card {
    /* display: flex; */
    height: 65%;
    margin-top: 1%;
    width: 20vw;
    background-color: #454e58;
    border-radius: 10px;
    box-shadow: -1rem 0 2rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
    display: grid;
    grid-template-rows: 0.4fr 0.8fr 0.1fr 3.6fr 1fr;
}

.card:not(:first-child) {
    margin-left: -3vw;
    /* box-shadow: -5rem 0 5rem #000; */
}
  
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    /* border: 1px solid white; */
}

.card:hover ~ .card {
    position: relative;
    left: 65px;
    transition: 0.4s ease-out;
    
}
  
.cardTitle {
    color: white;
    font-weight: 300;
    font-size: 2.35rem;
    grid-row: 2;
    padding: 0;
    padding-left: 0.3vw;
    padding-top: 1vh;
    margin: 0;
    /* position: absolute; */
    /* left: 10px; */
    /* top: 15px; */
}

.bar {
    position: absolute;
    /* top: 102px; */
    left: 10px;
    grid-row: 3;
    height: 5px;
    width: 93%;
}

.emptyBar {
    background-color: #222831;
    width: 100%;
    height: 100%;
}

.filledBar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledBar {
    width: 100%;
    transition: 3s ease-out;
}

.cardDescription {
    /* position: absolute; */
    /* top: 23%; */
    grid-row: 4;
    font-weight: 300 !important;
    font-size: 1.56rem;
    padding-left: 0.5vw;
}

.clickMore {
    /* position: absolute; */
    /* top: 80%; */
    /* left: 5vw; */
    grid-row: 5;
    opacity: 0;
    background-color: transparent;

    color: #fff;
    font-size: 1.25rem;
    font-weight: 300 !important;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card:hover .clickMore {
    /* opacity: 1; */
    animation:
    fadeIn 2000ms ease-in-out 2s forwards;
}

@media screen and (max-width: 400px) {

    .item3 {
        height: 110vh;
    }

    .projectCardContainer {
        padding: 0;
    }

    .card {
        height: 18vh;
        width: 31vw;
        grid-template-rows: 1fr;
        align-items: center;
        box-shadow: none;
    }

    .card:not(:first-child) {
        margin-left: -15vw;
    }

    .card:nth-child(even) {
        margin-top: 21vh;
    }

    .card:hover ~ .card {
        left: 0;
    }

    .cardTitle {
        grid-row: 1;
        font-size: 1.35rem;
    }

    .bar {
        display: none;
        left: 5px;
    }

    .cardDescription {
        font-size: 0.8rem;
        display: none;
    }

    .clickMore {
        grid-row: 4;
        display: none;
        opacity: 1;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px){

    .item3 {
        height: 110vh;
    }

    .projectCardContainer {
        padding: 0;
    }

    .card {
        height: 18vh;
        width: 31vw;
        grid-template-rows: 1fr;
        align-items: center;
        box-shadow: none;
    }

    .card:not(:first-child) {
        margin-left: -15vw;
    }

    .card:nth-child(even) {
        margin-top: 21vh;
    }

    .card:hover ~ .card {
        left: 0;
    }

    .cardTitle {
        grid-row: 1;
        font-size: 1.35rem;
    }

    .bar {
        display: none;
        left: 5px;
    }

    .cardDescription {
        font-size: 0.8rem;
        display: none;
    }

    .clickMore {
        grid-row: 4;
        display: none;
        opacity: 1;
        font-size: 0.9rem;
    }
}

.circle {
    position: absolute;
    top: 40%;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}
/* I like this color #17141d */
svg {
    fill: #131316;
    stroke-width: 2px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}
 /* --------------------------- THANKS --------------------------- */
 .thanks-section {
    min-height: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800 !important;
    font-size: xx-large;
    color: #ffffff;
    text-align: center;
    justify-content: center;
 }
 /* -------------------------- CONTACTS -------------------------- */
#contact-list{
    list-style-type: none;
    padding: 0;
    /* border: 1px solid navajowhite; */
}

#mail {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/envelope-regular.svg');
    background-repeat: no-repeat;
    margin-right: 2vw;
}

#github {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/github.svg');
    background-repeat: no-repeat;
    margin-right: 2vw;
}

#linkedIn {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/linkedin.svg');
    background-repeat: no-repeat;
    margin-right: 2vw;
}

#leetcode {
    float: left;
    height: 48px;
    width: 48px;
    background-image: url('../../icons/leetcode.svg');
    background-repeat: no-repeat;
}